html{
	/*background-image:url(../img/full.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
	background: #6B949E;
	font-family: 'Roboto Mono', monospace;
}
body{
	width: 80%;
	margin:0 auto;
}
/*ul{
	list-style-type: none;
	text-align: right;
	margin-right: 30px;
	padding: 0px 150px;
}
li{
	display: inline-block;

}
a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}*/
.navbar{
	display: flex;
	justify-content: flex-end;
}
ul{
	list-style-type: none;
}
li{
	padding:10px 20px;
}

a{
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
img{
	width:500px;
	height: 350px;
	-moz-transition:1s;
	-webkit-transition:1s;
	-ms-transition:1s;
	transition:1s;
}

footer p{
	padding: 0px 150px;
	color:crimson;
	font-weight: bold;
	text-align: center;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container > img{
	margin:0px 0px 20px 20px;

}
img:hover{
	transform:scale(1.1);
}